{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styleDashboard.css' %}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Dashboard{% endblock %}</title>
</head>

<body>
    {% include 'base/navDashbaord.html' %}
    {% block content %}
    {% endblock %}
    <!-- Bootstrap JS and dependencies -->
    {% bootstrap_javascript jquery='full' %}
</body>
</html>



