{% extends 'base/basePages.html' %}
{% block content %}

    <header>
        <h1>{{ header_text }}</h1>
    </header>

    <section id="hero">
        <div class="placeholder" id="hero-text">{{ hero_text }}</div>
        <img src="{{ hero_image }}" alt="Hero Image" class="placeholder" id="hero-image">
    </section>

    <section id="benefits">
        <h2>{{ benefits_section_title }}</h2>
        <div class="benefit">
            <div class="placeholder" id="benefit-1-icon">{{ benefit_1_icon }}</div>
            <p class="placeholder" id="benefit-1-text">{{ benefit_1_text }}</p>
        </div>
        <div class="benefit">
            <div class="placeholder" id="benefit-2-icon">{{ benefit_2_icon }}</div>
            <p class="placeholder" id="benefit-2-text">{{ benefit_2_text }}</p>
        </div>
        <div class="benefit">
            <div class="placeholder" id="benefit-3-icon">{{ benefit_3_icon }}</div>
            <p class="placeholder" id="benefit-3-text">{{ benefit_3_text }}</p>
        </div>
    </section>



{% endblock %}